@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  @apply bg-gradient-to-br from-text-600 via-text-700 to-text-800;
}

:root {
  --pattern-color: #999999;
  --pattern-size: 76px;
  --pattern-background: #979797;
}
.pattern {
  background:
    radial-gradient(
        27% 29% at right,
        #0000 83%,
        var(--pattern-color) 85% 99%,
        #0000 101%
      )
      calc(38px / 2) 38px,
    radial-gradient(
        27% 29% at left,
        #0000 83%,
        var(--pattern-color) 85% 99%,
        #0000 101%
      )
      calc(38px / -2) 38px,
    radial-gradient(
        29% 27% at top,
        #0000 83%,
        var(--pattern-color) 85% 99%,
        #0000 101%
      )
      0 calc(38px / 2),
    radial-gradient(
        29% 27% at bottom,
        #0000 83%,
        var(--pattern-color) 85% 99%,
        #0000 101%
      )
      0 calc(38px / -2) var(--pattern-background);
  background-size: var(--pattern-size) var(--pattern-size);
}
