@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  @apply bg-gradient-to-br from-text-600 via-text-700 to-text-800;
}

.navbar {
  @apply bg-text-600 bg-opacity-60  backdrop-blur-sm;
}

.button {
  @apply border bg-background-100 bg-opacity-20 text-text-700 backdrop-blur-sm transition-all duration-700 hover:cursor-pointer hover:bg-opacity-40;
}

:root {
  --pattern-color: #383838;
  --pattern-size: 76px;
  --pattern-background: #363636;
}

.pattern {
  background:
    radial-gradient(
        27% 29% at right,
        #0000 83%,
        var(--pattern-color) 85% 99%,
        #0000 101%
      )
      calc(38px / 2) 38px,
    radial-gradient(
        27% 29% at left,
        #0000 83%,
        var(--pattern-color) 85% 99%,
        #0000 101%
      )
      calc(38px / -2) 38px,
    radial-gradient(
        29% 27% at top,
        #0000 83%,
        var(--pattern-color) 85% 99%,
        #0000 101%
      )
      0 calc(38px / 2),
    radial-gradient(
        29% 27% at bottom,
        #0000 83%,
        var(--pattern-color) 85% 99%,
        #0000 101%
      )
      0 calc(38px / -2) var(--pattern-background);
  background-size: var(--pattern-size) var(--pattern-size);
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
